.genre_badge{
    background-color: var(--accent);
    box-shadow: var(--shadow);
    border:1px solid var(--border);
    color:var(--text-primary);
    border-radius: 1.5em;
    width:13%;
    text-align: center;

    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
}
.genre_badge:hover{
    box-shadow: 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover),  0 0 10px var(--accent-hover) ;

}
